<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee-Language Custom / EmployeeManage</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "container">
<h1>従業員習得技能編集ページ</h1>

	<nav aria-label = "breadcrumb">
		<ol class = "breadcrumb">
			<li class = "breadcrumb-item"><a href = "/">Home</a></li>
			<li class = "breadcrumb-item"><a href = "/Employee_List">Employee List</a></li>
			<li class = "breadcrumb-item"><a href = "/Employee_detail"
							th:href = "@{/Employee_detail (id = ${empId})}">Employee Detail</a></li>
			<li class = "breadcrumb-item active" aria-current = "page">Employee Skill</li>
		</ol>
	</nav>

	<form method = "post" action = "/EmpLang">
	<div class = "form-group">
		<table class = "table table-bordered">
			<tr>
				<td>
					<div th:each = "skill : ${dataList}" class = "form-check form-check-inline h5">
						<input type = "checkbox" name = "langId" class = "form-check-input"
							th:checked = "${langList.contains(skill.id)}" th:id = ${skill.name} th:value = ${skill.id}>
							<label class = "form-check-label" th:for = ${skill.name}>[[${skill.name}]]</label>
					</div>
				</td>
			</tr>
			<input type = "hidden" name = "empId" th:value = ${empId}>
		</table>
		<input type = "submit" value = "登録" class = "btn btn-primary">
		</div>
	</form>
	<hr>
	<p>
		<button type = "button" class = "btn btn-secondary" data-toggle = "collapse"
			data-target = "#description" aria-expanded = "false" aria-controls = "description">
			使い方説明
		</button>
	</p>
	<div class = "collapse" id = "description">
		<div class = "card card-body">
			<ul>
				<li>従業員が習得している技能の左にあるチェックボックスを選択して、「登録」を押してください。</li>
				<li>既に登録してある技能があれば、最初からチェックボックスが選択されています。</li>
				<li>技能を削除するときは、チェックボックスを未選択状態にして「登録」を押してください。</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>